<section id="clients">
    <div id="client-container">
        <h1 id="h-primary">Our Clients</h1>
        <div id="client-name">
            <img src="./image/logo1.jpg" alt="">
            <img src="./image/logo2.jpg" alt="">
            <img src="./image/logo3.jpg" alt="">
            <img src="./logo.jpg" alt="">
        </div>  
    </div>
</section>