<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (max-width:1100px)" href="phone.css">
    <title>My onlne Food Odering WebSite / www.OnlineMeal.com</title>
</head>