<section id="home">
    <div id="home-container">
        <h1 id="h-primary">Welcome To My Website</h1>
        <p class="center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam ipsam eaque doloremque illum, laborum molestias totam quia itaque voluptatum excepturi. </p>
        <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, cum. </p>
      <a class="btn" href="/order">Order Now</a> 
    </div>
</section>