<section id="navbar">
    <nav id="nav-items">
        <div id="logo">
            <img src="./logo.jpg" alt="">
        </div>
        <div id="list">
            <ul>
                <li class="item"><a href='/'>Home</a></li>
                <li class="item"><a href="/Services">Services</a></li>
                <li class="item"><a href="/Clients">Clients</a></li>
                <li class="item"><a href="/Review">Review</a></li>
            </ul>
        </div>
    </nav>
</section>