<section id="services">
    <h1 id="h-primary">Our Services</h1>
    <div id="service-container">
    <div id="service-name">
    <img src="./image/food.jpg" alt="">    
        <h2 id="h-secondary">Food Supply</h2>
        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, dolores?</p>
    </div>
    <div id="service-name">
    <img src="./image/cat.jpg" alt="">               
        <h2 id="h-secondary">Caterring</h2>
        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, dolores?</p>
    </div>
    <div id="service-name">
    <img src="./image/wed.jpg" alt="">               
        <h2 id="h-secondary">Wedding Hall</h2>
        <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, dolores?</p>
    </div>
</div>
</section>